{% extends 'adminlte/base.html' %}
{% load staticfiles %}
{% if title %} 
    {% block title %}
        工单详情
    {% endblock %}
{% endif %}
{% block js %}
<script type="text/javascript" charset="utf8" src="{% static 'datatables/media/js/jquery.dataTables.min.js'%} "></script>
<script type="text/javascript" src="{% static "plugins/steps/lib.js" %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'select2/dist/js/select2.full.min.js'%} "></script>
<script type="text/javascript" charset="utf8" src="{% static 'my/dist/js/sweetalert.min.js'%} "></script>
<!-- toastr js-->
<script src="{% static "plugins/toastr/toastr.min.js" %}"></script>
<script type="application/javascript">
    var array_name = [];   //field_name
	var array_key = [];   //field_key
	var array_data = [];  //value

	/*
	function Dictionary() {
	this.data = new Array();
	this.put = function(key, value) {
		this.data[key] = value;
	};
	}
	*/
    var ticketid = [];
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                            }
                    }
            }
            return cookieValue;
    }
    var csrftoken = getCookie('workflowdemo');
    function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
            }
    });
   
    function submitsuggestion(transition_id,field_require_check,is_accept){
        var comment = $("#comment").val();
        for (var i = 0; i < array_name.length; i++) {
		   array_data[i] = $("#"+array_name[i]).val();
	}
		
        paramrs={}
        for (var i = 0; i<param.length; i++) {                      
             paramrs[param[i]]  =  $("#"+param[i]).val();
        } 
        
        if (field_require_check && comment == ""){
            toastr['error']("必须填写处理意见！");
            return false;
        }

        
        var data1 = {"username": "{{request.user.username}}", "transition_id": transition_id, "suggestion": comment};
	    
        for (var i = 0; i < array_key.length; i++) {                      
             data1[array_key[i]]  =  array_data[i];
        } 
		
	console.log(data1);
        var data = Object.assign(data1,paramrs);
     //接单处理
     if(is_accept == true){
         $.ajax({
            url: '{% url 'ticketaccept' ticket_id %}',
            type: 'GET',
            success: function(data, textStatus, jqXHR) {
            if (data.code != -1) {
                    console.log('ticket accept Success');
                    window.location.href = window.location.href;
                }else{
                    toastr['error'](data.msg);
                }
            },
            error: function(data, textStatus, jqXHR) {
                toastr['error'](data);
            }
        });
     }else{
        $.ajax({
            url: '{% url 'ticketdetail' ticket_id %}',
            type: 'PATCH',
            data: JSON.stringify(data),
            success: function(data, textStatus, jqXHR) {
            if (data.code != -1) {
                    window.location.href = window.location.href;
                   // window.location.href = "{% url 'ticket-all'  %}?username=" + '{{request.user.username}}' + "&category=all"
                }else{
                    toastr['error'](data.msg);
                }
            },
            error: function(data, textStatus, jqXHR) {
                toastr['error'](data);
            }
        });

    }

    }
    //add by liro
    function viewfieldlist(){
	//alert('enter viewfieldlist');
        $.ajax({
            url: '{% url 'ticketfieldlist' ticket_id%}',
            type: 'GET',
            data: {'username':'{{request.user.username}}'},
            success: function(data, textStatus, jqXHR) {
	     //   alert(data.value.code);	
	     //   alert(data.value.data.length);	
                if (data.value.code == 0){
                        var html = '';
                        var num = 0;
                        window.param = new Array();      
                        for (var i = 0; i < data.value.data.length; i++) {
                            param.push(data.value.data[i].field_name);
                            num += 1;
                            //处理select checkbox等数据显示
                            //field type id equal to 60 bug need to be fixed
                            if ( data.value.data[i].field_type_id == 35 || data.value.data[i].field_type_id == 45 ){
                                console.log(data.value)
                                html += '<th>'+ data.value.data[i].field_name + '</th><td><textarea cols="58" rows="3" readonly="readonly"  id='+data.value.data[i].field_name +'>'  + data.value.data[i].field_choice[data.value.data[i].field_value] + '</textarea>' + '</td>';
                          
                           }else if ( data.value.data[i].field_attribute == 1 ){
                                 var str = data.value.data[i].field_value;
				 if(data.value.data[i].field_type_id == 55){
				      var Newstr = str.replace(/<[^>]*>/g,"");
				 }else{
				      var Newstr = str;
				 }
                                console.log(data.value)
                                html += '<th>'+ data.value.data[i].field_name + '</th><td><textarea cols="58" rows="3" readonly="readonly"  id='+data.value.data[i].field_name +'>'  + Newstr + '</textarea>'+'</td>';

                            }else {
                                 var str = data.value.data[i].field_value;
				 if(data.value.data[i].field_type_id == 55){
				      var Newstr = str.replace(/<[^>]*>/g,"");
				 }else{
				      var Newstr = str;
				 }
                                 html +='<th>'+ data.value.data[i].field_name + '</th><td><textarea cols="58" rows="3" readonly="readonly"  id='+data.value.data[i].field_name +'>' + Newstr  + '</textarea>'+ '</td>';

                                 array_name.push(data.value.data[i].field_name);
	        		 array_key.push(data.value.data[i].field_key);
	        	    }
	        	    if (num == 2){
                                num = 0
                                html = '<tr>' + html + '</tr>';
                            }	
	        	}
	  	}
                $('#ticketfieldlist').append(html);
            },

            error: function(data, textStatus, jqXHR) {
                toastr['error'](data);
            }
        });

    }

    $(function () {
        $('#sample_3').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "iDisplayLength": 50,
            "autoWidth": false,
        });
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };




        $.ajax({
            url: '{% url 'ticketflowsteps' ticket_id%}',
            type: 'GET',
            data: {'username':'{{request.user.username}}'},
            success: function(data, textStatus, jqXHR) {

                    var step = 1 ;
                    var showstep = 0;
                    var current_state_id = data.data.current_state_id;
                    console.log('当前current_state_id=',current_state_id);
                    if (data.code == 0){
                        var html = '';
                        for (var i = 0; i < data.data.value.length; i++) {
                                console.log('i=',i);
                            if ( data.data.value[i].state_flow_log_list.length >=1 && data.data.value[i].state_flow_log_list[0].transition.transition_name != "拒绝"){
                              //  step = i
                                if(data.data.value[i].state_flow_log_list[0].suggestion != ""){
                                        //此处suggestion不为空，说明做了deliver 处理
                                        //deliver 操作时,suggestion为必填项
                                        showstep = showstep;
                                }else{
                                   showstep = showstep + 1;
				}
                  		
							
                                console.log('showstep=',showstep);
                                console.log('length=',data.data.value.length);
                            }
                             //此处认为进度已经结束 
                            if(data.data.value[i].state_id == current_state_id){
                                      showstep = i;
                            }
                            html += '<li><a>'+ data.data.value[i].state_name + '</a></li>';
                        }
                        $('#flowsteps').append(html);
                     
                       // if (step != data.data.value.length ){
                       //   //  bsStep(step+2);
                       //       bsStep(1);
                       // }else{
                       //     bsStep(step+1);
                       // }


                        if (showstep != data.data.value.length ){
                            bsStep(showstep + 1);
                        }else{
                            bsStep(showstep+2);
                        }



                    }else{
                        toastr['warning'](data.msg);
                    }
            },
            error: function(data, textStatus, jqXHR) {
                toastr['error'](data);
            }
        });
        $.ajax({
            url: '{% url 'ticketdetail' ticket_id%}',
            type: 'GET',
            data: {'username':'{{request.user.username}}'},
            success: function(data, textStatus, jqXHR) {
                    if (data.code == 0){
                        var html = '';
                        var num = 0;
                        window.param = new Array(); 
		        if(data.data.value.field_list.length!=0){
                        for (var i = 0; i < data.data.value.field_list.length; i++) {
                             param.push(data.data.value.field_list[i].field_name);
                            num += 1;
                            //处理select checkbox等数据显示
                            //field type id equal to 60 bug need to be fixed
                            if ( data.data.value.field_list[i].field_type_id == 35 || data.data.value.field_list[i].field_type_id == 45 ){
                                console.log(data.data)
                                html += '<th>'+ data.data.value.field_list[i].field_name + '</th><td>' + data.data.value.field_list[i].field_choice[data.data.value.field_list[i].field_value] + '</td>';
                          
                           }else if ( data.data.value.field_list[i].field_attribute == 1 ){
                                console.log(data.data)
                                html += '<th>'+ data.data.value.field_list[i].field_name + '</th><td>' + data.data.value.field_list[i].field_value + '</td>';

                            }else {
                                 var str = data.data.value.field_list[i].field_value;
				 if(data.data.value.field_list[i].field_type_id == 55){
				      var Newstr = str.replace(/<[^>]*>/g,"")
				 }else{
				      var Newstr = str;
				 }
                                 html +='<th>'+ data.data.value.field_list[i].field_name + '</th><td><textarea cols="60" rows="3"  id='+data.data.value.field_list[i].field_name +'>' + Newstr  + '</textarea>'+ '</td>';

                                 array_name.push(data.data.value.field_list[i].field_name);
				 array_key.push(data.data.value.field_list[i].field_key);
			    }
                            if (num == 2){
                                num = 0
                                html = '<tr>' + html + '</tr>';
                            }
              
                        }
                        $('#ticketdetail').append(html);
                        //先处理工单显示，为避免处理意见显示位置错乱,待获取工单详情完成后获取用户可执行的操作action
                            $.ajax({
                                url: '{% url 'tickettranstion' ticket_id%}',
                                type: 'GET',
                                data: {'username':'{{request.user.username}}'},
                                success: function(data, textStatus, jqXHR) {
                                        if (data.code == 0){
                                            var html = '';
                                            var html_deliver = '';
                                            for (var i = 0; i < data.data.value.length; i++) {
                                                html += '<button style="margin-left:10px;" type="button" class="btn btn-info" onclick=submitsuggestion(' + data.data.value[i].transition_id + ',' + data.data.value[i].field_require_check + ','+ data.data.value[i].is_accept +')><span>' + data.data.value[i].transition_name + '</span></button>';

                                            }
                                             //转交按钮
					     html += '<button style="margin-left:10px;" type="button" class="btn btn-danger" onclick=showDeliverModal()><span>' + '转交'+ '</span></button>';

                                            $('#commentbutton').append(html);
                                            //处理意见
                                            $('#ticketdetail').append('<tr><th>处理意见</th><td><textarea wrap="soft" placeholder="请输入处理意见" rows="4" class="form-control" id="comment"></textarea></td></tr>');
											
                                        }else{
                                            toastr['warning'](data.msg);
                                        }
                                },
                                error: function(data, textStatus, jqXHR) {
                                    toastr['error'](data);
                                }
                            });
                        }
			else{
    				viewfieldlist();
			}
                    }else{
                        toastr['warning'](data.msg);
                    }
            },
            error: function(data, textStatus, jqXHR) {
                toastr['error'](data);
            }
 
        });
        $.ajax({
            url: '{% url 'ticketflowlogs' ticket_id%}',
            type: 'GET',
            data: {'username':'{{request.user.username}}'},
            success: function(data, textStatus, jqXHR) {
                    if (data.code == 0){
                        var html = '';
                        for (var i = 0; i < data.data.value.length; i++) {
                            if ( data.data.value[i].suggestion ==''){
                                html += '<tr><td>'+data.data.value[i].state.state_name+'</td><td>'+data.data.value[i].participant+'</td><td>'+data.data.value[i].gmt_created+'</td><td>'+'--------'+'</td></tr>';
                            }else{
                                html += '<tr><td>'+data.data.value[i].state.state_name+'</td><td>'+data.data.value[i].participant+'</td><td>'+data.data.value[i].gmt_created+'</td><td>'+data.data.value[i].suggestion+'</td></tr>';
                            }
                        }
                        $('#ticketlogs').append(html);
                    }else{
                        toastr['warning'](data.msg);
                    }
            },
            error: function(data, textStatus, jqXHR) {
                toastr['error'](data);
            }
        });
    });


/////////////////////////add by liro for deliver function///////////////////////////////////
function showDeliverModal(){
      $('#ticketDeliverModal').modal('show');
}

function getTicketId() {
    var urlPath = window.location.pathname;
    var ticketId = Number(urlPath.split('/')[3]);
    return ticketId
}


var ticketid ="{{ticket_id}}";

$('#deliverTarget').select2({
  placeholderOption: "first",
  allowClear:true,
  language: {
    searching: function() {
        return "输入用户名称搜索...";
    }
},
ajax: {
  url:'{% url 'accountusers' %}',
  type: 'GET',
  data: {'username':'{{request.user.username}}','ticket_id':ticketid},
  delay: 300,
  processResults: function (data) {
  console.log('处理结果', data);
  return {
    results: data.data.data.value.map(function(item) {
      return {
        id: item.username,
        text: item.username + "(id:" + item.id + "," + "alias:" + item.alias + ")"
      };

    })
  };

},
  },

cache: true
});


      //data : JSON.stringify(params),
function submitDeliverTicket(){
  //提交转交
  var ticketId = getTicketId();
  var targetUser =  $("#deliverTarget").val();
  var suggestion = $("#deliverSuggestion").val();
  var params = {
    ticketid:ticketId,
    target_username:targetUser,
    suggestion:suggestion,
    from_admin:0  // 管理员强制转交
  };
  $.ajax({
      url:'{% url 'deliverusers' %}',
      type: "GET",
      processDate: false,
      data : JSON.stringify(params),
      contentType: 'application/json',
      success: function(result){
      console.log(result); 
      if (result.data.code==0) {
        $("#ticketDeliverModal").modal("hide");
        setTimeout(function(){
        swal({
          title: "转交成功!",
          text: "2s自动关闭",
          showConfirmButton: false,
        })
        },100);
        setTimeout(function(){
        window.location.reload(); 
        },2000);  
      } else {
        setTimeout(function(){
        swal({
          title: "转交失败:" + result.data.msg,
          text: "2s自动关闭",
          showConfirmButton: false,
          icon: 'error',
        })
        },100);
        setTimeout(function(){
        window.location.reload(); 
        },2000);  
      }
    }

  });
}


///////////////////////////////////////////////////////////////

</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/media/css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static "css/workflow.css" %}" />
<link rel="stylesheet" href="{% static "css/lbadminlte.css" %}" />
<link rel="stylesheet" href="{% static "plugins/steps/style.css" %}" />
<!--toastr css-->
<link rel="stylesheet" href="{% static "plugins/toastr/toastr.css" %}">

<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/steps.min.css' %}">
<link rel="stylesheet" href="{% static 'my/dist/css/sweetalert.css' %}">




<style type="text/css">
    #content {
        margin: 0 auto; max-width: 800px; padding: 0 20px;
    }
    .object-list {
        margin-top: 30px;
    }
    .object {
        margin-bottom: 30px;
    }
    .object-controls {
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block head_ext %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{app_label}}
        <small>{{title|capfirst}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">我创建的工单</li>
    </ol>
</section>
{{extra_content}}{% endblock %}


{% block content %}

    <div class="row">
        <fieldset>
            <legend class='text-center text-info'> 业务流程</legend>
        </fieldset>
        <div class="col-md-12">
            <ul class="nav nav-pills nav-justified step step-arrow" id='flowsteps'>
            </ul>
        </div>
    </div>

    <div class="row">
        <fieldset>
            <legend class='text-center text-info'>工单详情</legend>
        </fieldset>
        <div class="col-md-12">
            <table class="table table-bordered tb-detail wf-act-history">
              <tbody id="ticketdetail">
            </tbody></table>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered tb-detail wf-act-history">
              <tbody id="ticketfieldlist">
            </tbody></table>
        </div>
    </div>

<!--
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-offset-3 col-md-9" id="commentbutton">
            </div>
          </div>
        </div>
            <button type="button" class="btn btn-danger" style="margin:5px" onclick="showDeliverModal()">转交</button>
-->

      <div class="modal fade" id="ticketDeliverModal">
        <div class="modal-dialog" style="width: 980px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">转交处理人</h4>
            </div>
            <form class="form-horizontal"  id='ticket_deliver_form'>
              <div class="box-body">
                <div class="form-group">
                  <label for="deliverTarget" class="col-sm-3 control-label">选择转交人<span style="color:red">*</span></label>
                  <div class="col-sm-9">
                    <select class="form-control select2" id="deliverTarget" data-placeholder="选择转交对象" style="width:100%;"></select>
                    <p class="help-block">输入关键词搜索转交对象</p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="deliverSuggestion" class="col-sm-3 control-label">转交意见</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="deliverSuggestion" required="true" placeholder="请输入你的处理意见">
                  </div>
                </div>
                <input type="text" class="form-control" id="customFieldId" style="display:none">
              </div>
              <div class="box-footer">
                <!-- <button type="submit" class="btn btn-info pull-right">确定</button> -->
                <input type="button" value="保存" class="btn btn-info pull-right" onclick = "submitDeliverTicket();" />
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
        </div>
      </div>





    <div class="box">
        <div class="box-header">
          <h3 class="box-title">管理员操作</h3>
        </div>
        <div class="box-body" >
            <div class="col-md-offset-3 col-md-9" id="commentbutton"></div>
            <div class="col-md-offset-3 col-md-9" id="deliverbutton"></div>
        </div>
    </div>



    <div class="row">
        <fieldset>
            <legend class='text-center text-info'> 操作日志</legend>
        </fieldset>

        <div class="col-md-12">    
            <table class="table table-bordered gray-th wf-act-history">
                <thead>
                    <tr>
                      <th>节点名称</th>
                      <th>参与者</th>
                      <th>操作时间</th>
                      <th>处理意见</th>
                    </tr>
                </thead>
                <tbody id='ticketlogs'>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
